dist: trusty
services: docker
language: node_js
node_js:
  - '10'

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

install:
  - npm ci

script:
  - npm test -- --coverage
  - sonar-scanner
  - npm version patch -m "release v%s [skip ci]"
  - npm run build
  - npm run pack:dockerelectron

addons:
  sonarcloud:
    organization: 'magoo-magoo-github'

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

before_deploy:
  - git config --local user.name "Travis CI" && git config --local user.email "travis@travis-ci.org" && git config --global push.default matching && git config credential.helper "store --file=.git/credentials" && echo "https://${GITHUB_TOKEN}:@github.com" > .git/credentials
  - git checkout -- . && git status && git push origin HEAD:$TRAVIS_BRANCH && git push --tags

deploy:
  - provider: pages
    local-dir: build
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    keep-history: true
    on:
      branch: master

  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: dist/*
    skip_cleanup: true
    on:
      branch: master
